.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/home/yisus/Documents/Codes/SIMPLE-CRUD/Employees-crud-client/src/img/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
  background-size: cover;
  padding-bottom: 180px;
  place-items: center;
}

.information {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-top: 5px;
}

@media screen and (min-width: 601px) {
  div.header {
    font-size: 50px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.header {
    font-size: 30px;
  }
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

article {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 20px;
  width: 600px;
  height: 500px;
}

.information label {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
 
input {
  width: 380px;
  height: 45px;
  font-size: 20px;
  padding-left: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 15px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

.employees {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 30px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #607196;
  padding-top: 20px;
  border-radius: 7px;
}

.employee h3 {
  margin: 20px;
  font: size 40px; 
  color:white; margin:10px;
}

.changes {
  margin-left: 200px;
  display: grid;
  place-items: center;
}

button {
  width: 140px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  width: auto; 
  margin: 10px;
}

.changes input[type=text] {
  height: 45px;
  padding: auto;
  box-sizing: border-box;
  padding: 20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}
